
.auth-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
  }
  
  
  .auth-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
 
  .auth-container input[type="email"],
  .auth-container input[type="password"],
  .auth-container input[type="text"],
  .auth-container select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
 
  .auth-container select {
    height: 40px;
  }
  
 
  .auth-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .auth-container button:hover {
    background-color: #0056b3;
  }
  